h1{
    color: rgb(12, 12, 60);
    font-size: 3em;
    text-align: center;
}
p{
    color: #7f0000;
    font-size: 1.2em;
    text-align: justify;
    margin: 20px;
}
ul{
    color: green;
    font-size: 1.2em;
    margin: 20px;
}
li{
    margin: 10px;
}
